fastapi<=0.111.0
uvicorn[standard]
async_lru
rolesroyce @ git+https://github.com/Karpatkey/roles_royce.git@667faa11497dd2e620966cf15bf35aed05fdbcd5
karpatkit @ git+https://github.com/karpatkey/karpatkit.git@3336551ba20a5170e632c94cf91e452b41179db0
