interactions:
- request:
    body: '{"query": "\n    {\n      gaugeFactories {\n        id\n        gauges
      {\n          id\n          symbol\n          poolAddress\n        }\n      }\n    }\n    "}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://gateway-arbitrum.network.thegraph.com/api/MOCK_KEY/subgraphs/id/HW5XpZBi2iYDLBqqEEMiRJFx8ZJAQak9uu5TzyH9BBxy
  response:
    body:
      string: '{"data":{"gaugeFactories":[{"gauges":[{"id":"0x2165b84b2ae1fc01f481fa8c9c762b695c57bb21","poolAddress":"0xf48f01dcb2cbb3ee1f6aab0e742c2d3941039d56","symbol":"50bbagGNO-50bbagWETH-gauge"},{"id":"0x266c15970aeeecc254117b1c366e26718ad02cee","poolAddress":"0xfedb19ec000d38d92af4b21436870f115db22725","symbol":"bb-ag-USD-gauge"},{"id":"0x793faf861a78b07c0c8c0ed1450d3919f3473226","poolAddress":"0xb973ca96a3f0d61045f53255e319aedb6ed49240","symbol":"50bbagGNO-50bbagUSD-gauge"},{"id":"0xa47120617a1f920896e123c2fcad7d41dd89def8","poolAddress":"0x9949f1884b61a8265e12056650c1ac4677a75403","symbol":"2EUR
        (EURe)-gauge"},{"id":"0xc04672a31c5ba04912bad418631[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/cowprotocol/token-lists/main/src/public/GnosisUniswapTokensList.json
  response:
    body:
      string: "{\n  \"name\": \"Uniswap Labs Default\",\n  \"timestamp\": \"2024-04-29T18:27:01.188Z\",\n
        \ \"version\": {\n    \"major\": 11,\n    \"minor\": 23,\n    \"patch\": 0\n
        \ },\n  \"tags\": {},\n  \"logoURI\": \"ipfs://QmNa8mQkrNKp1WEEeGjFezDmDeodkWRevGFN8JCV7b4Xir\",\n
        \ \"keywords\": [\n    \"uniswap\",\n    \"default\"\n  ],\n  \"tokens\":
        [\n    {\n      \"chainId\": 100,\n      \"address\": \"0x7f7440c5098462f833e123b44b8a03e1d9785bab\",\n
        \     \"name\": \"1inch\",\n      \"symbol\": \"1INCH\",\n      \"decimals\":
        18,\n      \"logoURI\": \"https://assets.coingecko.com/coins/images/13469/thumb/1inch-token.png?1608803028\"\n
        \   },\n    {\n      \"chainId\": 100,\n      \"address\": \"0xdf613af6b44a31299e48131e9347f034347e2f00\",\n
        \     \"name\": \"Aave\",\n      \"symbol\": \"AAVE\",\n      \"decimals\":
        18,\n      \"logoURI\": \"https://assets.coingecko.com/coins/images/12645/thumb/AAVE.png?1601374110\"\n
        \   },\n    {\n      \"chainId\": 100,\n      \"address\": [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/cowprotocol/token-lists/main/src/public/GnosisCoingeckoTokensList.json
  response:
    body:
      string: "{\n  \"name\": \"CoinGecko\",\n  \"timestamp\": \"2024-05-24T13:35:46.782Z\",\n
        \ \"version\": {\n    \"major\": 0,\n    \"minor\": 5,\n    \"patch\": 0\n
        \ },\n  \"logoURI\": \"https://support.coingecko.com/hc/article_attachments/4499575478169/CoinGecko_logo.png\",\n
        \[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://tokens.honeyswap.org/
  response:
    body:
      string: "{\n  \"name\": \"Honeyswap Default\",\n  \"timestamp\": \"2024-05-04T14:20:44.454Z\",\n
        \ \"version\": {\n    \"major\": 6,\n    \"minor\": 1,\n    \"patch\": 6\n
        \ },\n  \"tags\": {},\n  \"logoURI\": \"https://ipfs.io/ipfs/bafybeihqunal3rxoz7bosmqxqobz2sz4nn62naufxqf2fyq35bepp4pkdy\",\n
        \ \"keywords\": [\n    \"honeyswap\",\n    \"gnosis\",\n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://files.cow.fi/tokens/CowSwap.json
  response:
    body:
      string: "{\n  \"name\": \"CoW Swap\",\n  \"timestamp\": \"2024-07-17T07:00:00+00:00\",\n
        \ \"version\": {\n    \"major\": 2,\n    \"minor\": 37,\n    \"patch\": 0\n
        \ },\n  \"logoURI\": \"https://raw.githubusercontent.com/cowprotocol/token-lists/main/src/public/images/list-logo.png\",\n
        \ \"keywords\": [\n    \"default\",\n    \"list\",\n   [...]
