interactions:
- request:
    body: '{"query": "\n    {\n      gaugeFactories {\n        id\n        gauges
      {\n          id\n          symbol\n          poolAddress\n        }\n      }\n    }\n    "}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://gateway-arbitrum.network.thegraph.com/api/MOCK_KEY/subgraphs/id/4sESujoqmztX6pbichs4wZ1XXyYrkooMuHA8sKkYxpTn
  response:
    body:
      string: '{"data":{"gaugeFactories":[{"gauges":[],"id":"0x18cc3c68a5e64b40c846aa6e45312cbcbb94f71b"},{"gauges":[],"id":"0x1c99324edc771c82a0dccb780cc7dda0045e50e7"},{"gauges":[],"id":"0x22625eedd92c81a219a83e1dc48f88d54786b017"},{"gauges":[],"id":"0x2a18b396829bc29f66a1e59fadd7a0269a6605e8"},{"gauges":[],"id":"0x3083a1c455ff38d39e58dbac5040f465cf73c5c8"},{"gauges":[],"id":"0x4c4287b07d293e361281bceee8715c8cdeb64e34"},{"gauges":[{"id":"0x006aad228d44655c4c97cdda600f2d56e99569b9","poolAddress":"0xc29562b045d80fd77c69bec09541f5c16fe20d9d","symbol":"B-80AURA-20WETH-gauge"},{"id":"0x0312aa8d0ba4a1969fddb382235870bf55f7f242","poolAddress":"0x3dd0843a028c86e0b760b1a76929d1c5ef93a2dd","symbol":"B-auraBAL-STABLE-gauge"},{"id":"0x03de3993f329a6051a593cb0e8a8517329aac816","poolAddress":"0x240273a118a67bb878ca5fc3c3d645d60622f6f4","symbol":"PAL-WETH-gauge"},{"id":"0x055d483d00b0ffe0c1123c96363889fb03fa13a4","poolAddress":"0xbaeec99c90e3420ec6c1e7a769d2a856d2898e4d","symbol":"B-50VITA-50WETH-gauge"},{"id":"0x0616c14c2336d77c6920b74cd1639ac497a345ba[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.curve.fi/v1/getPools/big/ethereum
  response:
    body:
      string: "{\"success\":true,\"data\":{\"poolData\":[{\"id\":\"0\",\"address\":\"0xbEbc44782C7dB0a1A60Cb6fe97d0b483032FF1C7\",\"coinsAddresses\":[\"0x6B175474E89094C44Da98b954EedeAC495271d0F\",\"0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48\",\"0xdAC17F958D2ee523a2206206994597C13D831ec7\",\"0x0000000000000000000000000000000000000000\"],\"decimals\":[\"18\",\"6\",\"6\",\"0\"],\"virtualPrice\":\"1033734431265445005\",\"amplificationCoefficient\":\"2000\",\"totalSupply\":\"167793633053886764397963664\",\"name\":\"Curve.fi
        DAI/USDC/USDT\",\"assetType\":\"0\",\"lpTokenAddress\":\"0x6c3F90f043a72FA612cbac8115EE7e52BDe6E490\",\"priceOracle\":null,\"priceOracles\":null,\"symbol\":\"3Crv\",\"implementation\":\"\",\"assetTypeName\":\"usd\",\"coins\":[{\"address\":\"0x6B175474E89094C44Da98b954EedeAC495271d0F\",\"usdPrice\":0.999617,\"decimals\":\"18\",\"isBasePoolLpToken\":false,\"symbol\":\"DAI\",\"poolBalance\":\"66178940170867013541553810\"},{\"address\":\"0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48\",\"usdPrice\":0.997523,\"decimals\":\"6\",\"isBasePoolLpToken\":false,\"symbol\":\"USDC\",\"poolBalance\":\"66970194440209\"},{\"address\":\"0xdAC17F958D2ee523a2206206994597C13D831ec7\",\"usdPrice\":1,\"decimals\":\"6\",\"isBasePoolLpToken\":false,\"symbol\":\"USDT\",\"poolBalance\":\"40307290133750\"}],\"poolUrls\":{\"swap\":[\"https://curve.fi/#/ethereum/pools/3pool/swap\",\"https://classic.curve.fi/3pool\"],\"deposit\":[\"https://curve.fi/#/ethereum/pools/3pool/deposit\",\"https://classic.curve.fi/3pool/deposit\"],\"withdraw\":[\"https://curve.fi/#/ethereum/pools/3pool/withdraw\",\"https://classic.curve.fi/3pool/withdraw\"]},\"usdTotal\":173265193.03911218,\"isMetaPool\":false,\"usdTotalExcludingBasePool\":173265193.03911218,\"gaugeAddress\":\"0xbfcf63294ad7105dea65aa58f8ae5be2d9d0952a\",\"gaugeRewards\":[],\"gaugeCrvApy\":[0.38093239152924985,0.9523309788231247],\"gaugeFutureCrvApy\":[0.3806938118125608,0.9517345295314019],\"usesRateOracle\":false,\"isBroken\":false,\"hasMethods\":{\"exchange_received\":false,\"exchange_extended\":false},\"blockchainId\":\"ethereum\",\"registryId\":\"main\"},{\"id\":\"1\",\"address\":\"0xDeBF20617708857ebe4F679508E7b7863a8A8EeE\",\"coinsAddresses\":[\"0x028171bCA77440897B824Ca71D1c56caC55b68A3\",\"0xBcca60bB61934080951369a648Fb03DF4F96263C\",\"0x3Ed3B47Dd13EC9a98b44e6204A523E766B225811\",\"0x0000000000000000000000000000000000000000\"],\"decimals\":[\"18\",\"6\",\"6\",\"0\"],\"virtualPrice\":\"1189392642426756344\",\"amplificationCoefficient\":\"2000\",\"totalSupply\":\"9522610724235228214726330\",\"name\":\"Curve.fi
        aDAI/aUSDC/aUSD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://files.cow.fi/tokens/CoinGecko.json
  response:
    body:
      string: "{\n    \"name\": \"CoinGecko\",\n    \"timestamp\": \"2024-01-11T17:00:00+00:00\",\n
        \   \"version\": {\n        \"major\": 0,\n        \"minor\": 2,\n        \"patch\":
        0\n    },\n    \"logoURI\": \"https://support.coingecko.com/hc/article_attachments/4499575478169/CoinGecko_logo.png\",\n
        \   \"keywords\": [\n        \"default\",\n        \"list\",\n        \"coingecko\"\n
        \   ],\n    \"tokens\": [\n        {\n            \"chainId\": 1,\n            \"address\":
        \"0x418d75f65a02b3d53b2418fb8e1fe493759c7605\",\n            \"name\": \"Binance
        Coin  Wormhole \",\n            \"symbol\": \"BNB\",\n            \"decimals\":
        18,\n            \"logoURI\": \"https://assets.coingecko.com/coins/images/22884/thumb/BNB_wh_small.png?1644224553\"\n
        \       },\n        {\n            \"chainId\": 1,\n            \"address\":
        \"0xb8c77482e45f1f44de1745f52c74426c631bdd52\",\n            \"name\": \"B[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://files.cow.fi/tokens/CowSwap.json
  response:
    body:
      string: "{\n  \"name\": \"CoW Swap\",\n  \"timestamp\": \"2024-07-08T16:00:00+00:00\",\n
        \ \"version\": {\n    \"major\": 2,\n    \"minor\": 36,\n    \"patch\": 0\n
        \ },\n  \"logoURI\": \"https://raw.githubusercontent.com/cowprotocol/token-lists/main/src/public/images/list-logo.png\",\n
        \ \"keywords\": [\n    \"default\",\n    \"list\",\n   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/compound-finance/token-list/master/compound.tokenlist.json
  response:
    body:
      string: "{\n  \"name\": \"Compound\",\n  \"logoURI\": \"https://raw.githubusercontent.com/compound-finance/token-list/master/assets/compound-interface.svg\",\n
        \ \"keywords\": [\n    \"compound\",\n    \"defi\"\n  ],\n  \"timestamp\":
        \"2021-05-27T20:37:00.000+00:00\",\n  \"tokens\": [\n    {\n    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/SetProtocol/uniswap-tokenlist/main/set.tokenlist.json
  response:
    body:
      string: "{\n  \"name\": \"Set\",\n  \"logoURI\": \"https://raw.githubusercontent.com/SetProtocol/uniswap-tokenlist/main/assets/set-logo.svg\",\n
        \ \"keywords\": [\n    \"set\",\n    \"tokensets\",\n    \"defi\"\n  ],\n
        \ \"timestamp\": \"2020-10-19T12:32:17.000+00:00\",\n  \"tokens\": [\n 