interactions:
- request:
    body: '{"query": "\n    {\n      gaugeFactories {\n        id\n        gauges
      {\n          id\n          symbol\n          poolAddress\n        }\n      }\n    }\n    "}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://gateway-arbitrum.network.thegraph.com/api/MOCK_KEY/subgraphs/id/4sESujoqmztX6pbichs4wZ1XXyYrkooMuHA8sKkYxpTn
  response:
    body:
      string: '{"data":{"gaugeFactories":[{"gauges":[],"id":"0x18cc3c68a5e64b40c846aa6e45312cbcbb94f71b"},{"gauges":[],"id":"0x1c99324edc771c82a0dccb780cc7dda0045e50e7"},{"gauges":[],"id":"0x22625eedd92c81a219a83e1dc48f88d54786b017"},{"gauges":[],"id":"0x2a18b396829bc29f66a1e59fadd7a0269a6605e8"},{"gauges":[],"id":"0x3083a1c455ff38d39e58dbac5040f465cf73c5c8"},{"gauges":[],"id":"0x4c4287b07d293e361281bceee8715c8cdeb64e34"},{"gauges":[{"id":"0x006aad228d44655c4c97cdda600f2d56e99569b9","poolAddress":"0xc29562b045d80fd77c69bec09541f5c16fe20d9d","symbol":"B-80AURA-20WETH-gauge"},{"id":"0x0312aa8d0ba4a1969fddb382235870bf55f7f242","poolAddress":"0x3dd0843a028c86e0b760b1a76929d1c5ef93a2dd","symbol":"B-auraBAL-STABLE-gauge"},{"id":"0x03de3993f329a6051a593cb0e8a8517329aac816","poolAddress":"0x240273a118a67bb878ca5fc3c3d645d60622f6f4","symbol":"PAL-WETH-gauge"},{"id":"0x055d483d00b0ffe0c1123c96363889fb03fa13a4","poolAddress":"0xbaeec99c90e3420ec6c1e7a769d2a856d2898e4d","symbol":"B-50VITA-50WETH-gauge"},{"id":"0x0616c14c2336d77c6920b74cd1639ac497a345ba[...]
