interactions:
- request:
    body: '{"query": "\n    {\n      liquidityGauges(first: 1000, orderBy: totalSupply)
      {\n        id\n        symbol\n        poolAddress\n      }\n    }\n    "}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://gateway-arbitrum.network.thegraph.com/api/MOCK_KEY/subgraphs/id/4sESujoqmztX6pbichs4wZ1XXyYrkooMuHA8sKkYxpTn
  response:
    body:
      string: '{"data":{"liquidityGauges":[{"id":"0x006aad228d44655c4c97cdda600f2d56e99569b9","poolAddress":"0xc29562b045d80fd77c69bec09541f5c16fe20d9d","symbol":"B-80AURA-20WETH-gauge"},{"id":"0x00ab79a3be3aacdd6f85c623f63222a07d3463db","poolAddress":"0x17ddd9646a69c9445cd8a9f921d4cd93bf50d108","symbol":"20WETH-80HAUS-gauge"},{"id":"0x01a9502c11f411b494c62746d37e89d6f7078657","poolAddress":"0x9c6d47ff73e0f5e51be5fd53236e3f595c5793f2","symbol":"B-cbETH-wstETH-Stable-gauge"},{"id":"0x03de3993f329a6051a593cb0e8a8517329aac816","poolAddress":"0x240273a118a67bb878ca5fc3c3d645d60622f6f4","symbol":"PAL-WETH-gauge"},{"id":"0x055d483d00b0ffe0c1123c96363889fb03fa1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.curve.fi/v1/getPools/big/ethereum
  response:
    body:
      string: "{\"success\":true,\"data\":{\"poolData\":[{\"id\":\"0\",\"address\":\"0xbEbc44782C7dB0a1A60Cb6fe97d0b483032FF1C7\",\"coinsAddresses\":[\"0x6B175474E89094C44Da98b954EedeAC495271d0F\",\"0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48\",\"0xdAC17F958D2ee523a2206206994597C13D831ec7\",\"0x0000000000000000000000000000000000000000\"],\"decimals\":[\"18\",\"6\",\"6\",\"0\"],\"virtualPrice\":\"1033961378501325239\",\"amplificationCoefficient\":\"2000\",\"totalSupply\":\"169852844795599092798088332\",\"name\":\"Curve.fi
        DAI/USDC/USDT\",\"assetType\":\"0\",\"lpTokenAddress\":\"0x6c3F90f043a72FA612cbac8115EE7e52BDe6E490\",\"priceOracle\":null,\"priceOracles\":null,\"symbol\":\"3Crv\",\"implementation\":\"\",\"assetTypeName\":\"usd\",\"coins\":[{\"address\":\"0x6B175474E89094C44Da98b954EedeAC495271d0F\",\"usdPrice\":0.999554,\"decimals\":\"18\",\"isBasePoolLpToken\":false,\"symbol\":\"DAI\",\"poolBalance\":\"53796405697656097944013262\"},{\"address\":\"0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48\",\"usdPrice\":0.999658,\"decimals\":\"6\",\"isBasePoolLpToken\":false,\"symbol\":\"USDC\",\"poolBalance\":\"54089980489235\"},{\"address\":\"0xdAC17F958D2ee523a2206206994597C13D831ec7\",\"usdPrice\":0.99943,\"decimals\":\"6\",\"isBasePoolLpToken\":false,\"symbol\":\"USDT\",\"poolBalance\":\"67735417695260\"}],\"poolUrls\":{\"swap\":[\"https://curve.fi/#/ethereum/pools/3pool/swap\",\"https://classic.curve.fi/3pool\"],\"deposit\":[\"https://curve.fi/#/ethereum/pools/3pool/deposit\",\"https://classic.curve.fi/3pool/deposit\"],\"withdraw\":[\"https://curve.fi/#/ethereum/pools/3pool/withdraw\",\"https://classic.curve.fi/3pool/withdraw\"]},\"usdTotal\":175540702.7237963,\"isMetaPool\":false,\"usdTotalExcludingBasePool\":175540702.7237963,\"gaugeAddress\":\"0xbfcf63294ad7105dea65aa58f8ae5be2d9d0952a\",\"gaugeRewards\":[],\"gaugeCrvApy\":[0.35364370564399583,0.8841092641099896],\"gaugeFutureCrvApy\":[0.3532761923755943,0.8831904809389858],\"usesRateOracle\":false,\"isBroken\":false,\"hasMethods\":{\"exchange_received\":false,\"exchange_extended\":false},\"creationTs\":1599422178,\"creationBlockNumber\":10809473,\"blockchainId\":\"ethereum\",\"registryId\":\"main\"},{\"id\":\"1\",\"address\":\"0xDeBF20617708857ebe4F679508E7b7863a8A8EeE\",\"coinsAddresses\":[\"0x028171bCA77440897B824Ca71D1c56caC55b68A3\",\"0xBcca60bB61934080951369a648Fb03DF4F96263C\",\"0x3Ed3B47Dd13EC9a98b44e6204A523E766B225811\",\"0x0000000000000000000000000000000000000000\"],\"decimals\":[\"18\",\"6\",\"6\",\"0\"],\"virtualPrice\":\"1191079220454818286\",\"amplificationCoefficient\":\"2000\",\"totalSupply\":\"9517254285253279053018256\",\"name\":\"Curve.fi
        aDAI/aUSDC/aUSD[...]
- request:
    body: '{"query": "\n    {\n      tokens(first: 500, orderBy: totalValueLockedUSD,
      orderDirection: desc) {\n        id\n        symbol\n        name\n      }\n    }\n    "}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://gateway-arbitrum.network.thegraph.com/api/MOCK_KEY/subgraphs/id/5zvR82QoaXYFyDEKLZ9t6v9adgnptxYpKpSbxtgVENFV
  response:
    body:
      string: '{"data":{"tokens":[{"id":"0x12b32f10a499bf40db334efe04226cca00bf2d9b","name":"UMIIE
        COIN","symbol":"UMIIE"},{"id":"0x160de4468586b6b2f8a92feb0c260fc6cfc743b1","name":"Ease
        Fun Token","symbol":"ease.org"},{"id":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","name":"Wrapped
        Ether","symbol":"WETH"},{"id":"0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48","name":"USD
        Coin","symbol":"USDC"},{"id":"0x2260fac5e5542a773aa44fbcfedf7c193bc2c599","name":"Wrapped
        BTC","symbol":"WBTC"},{"id":"0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://files.cow.fi/tokens/CoinGecko.json
  response:
    body:
      string: "{\n    \"name\": \"CoinGecko\",\n    \"timestamp\": \"2024-01-11T17:00:00+00:00\",\n
        \   \"version\": {\n        \"major\": 0,\n        \"minor\": 2,\n        \"patch\":
        0\n    },\n    \"logoURI\": \"https://support.coingecko.com/hc/article_attachments/4499575478169/CoinGecko_logo.png\",\n
        \   \"keywords\": [\n        \"default\",\n        \"list\",\n        \"coingecko\"\n
        \   ],\n    \"tokens\": [\n        {\n            \"chainId\": 1,\n            \"address\":
        \"0x418d75f65a02b3d53b2418fb8e1fe493759c7605\",\n            \"name\": \"Binance
        Coin  Wormhole \",\n            \"symbol\": \"BNB\",\n            \"decimals\":
        18,\n            \"logoURI\": \"https://assets.coingecko.com/coins/images/22884/thumb/BNB_wh_small.png?1644224553\"\n
        \       },\n        {\n            \"chainId\": 1,\n            \"address\":
        \"0xb8c77482e45f1f44de1745f52c74426c631bdd52\",\n            \"name\": \"B[...]
