interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.curve.fi/v1/getPools/big/xdai
  response:
    body:
      string: '{"success":true,"data":{"poolData":[{"id":"0","address":"0x7f90122BF0700F9E7e1F688fe926940E8839F353","coinsAddresses":["0xe91D153E0b41518A2Ce8Dd3D7944Fa863463a97d","0xDDAfbb505ad214D7b80b1f830fcCc89B60fb7A83","0x4ECaBa5870353805a9F068101A40E0f32ed605C6","0x0000000000000000000000000000000000000000"],"decimals":["18","6","6","0"],"virtualPrice":"1008654422478565538","amplificationCoefficient":"1000","totalSupply":"1929131514643430407617204","name":"Curve.fi
        wxDAI/USDC/USDT","assetType":"0","lpTokenAddress":"0x1337BedC9D22ecbe766dF105c9623922A27963EC","priceOracle":null,"priceOracles":null,"symbol":"x3CRV","implementation":"","assetTypeName":"usd","coins":[{"address":"0xe91D153E0b41518A2Ce8Dd3D7944Fa863463a97d","usdPrice":1.000651652,"decimals":"18","isBasePoolLpToken":false,"symbol":"WXDAI","poolBalance":"641554202877046848178549"},{"address":"0xDDAfbb505ad214D7b80b1f830fcCc89B60fb7A83","usdPrice":1.000674675,"decimals":"6","isBasePoolLpToken":false,"symbol":"USDC","poolBalance":"627582954501"},{"address":"0x4ECaBa5870353805a9F068101A40E0f32ed605C6","usdPrice":1.001,"decimals":"6","isBasePoolLpToken":false,"symbol":"USDT","poolBalance":"676690854080"}],"poolUrls":{"swap":["https://curve.fi/#/gnosis/pools/3pool/swap","https://xdai.curve.fi/3pool"],"deposit":["https://curve.fi/#/gnosis/pools/3pool/deposit","https://xdai.curve.fi/3pool/deposit"],"withdraw":["https://curve.fi/#/gnosis/pools/3pool/withdraw","https://xdai.curve.fi/3pool/withdraw"]},"usdTotal":1947346.186921368,"isMetaPool":false,"usdTotalExcludingBasePool":1947346.186921368,"gaugeAddress":"0xb721cc32160ab0da2614cc6ab16ed822aeebc101","gaugeRewards":[{"gaugeAddress":"0xb721cc32160ab0da2614cc6ab16ed822aeebc101","tokenPrice":223.04,"name":"Gnosis
        Token on xDai","symbol":"GNO","decimals":"18","apy":0,"metaData":{"rate":"165766296873687","periodFinish":1668086450},"tokenAddress":"0x9C58BAcC331c9aa871AFD802DB6379a98e80CEdb"}],"gaugeCrvApy":[0.967755277028722,2.419388192571805],"usesRateOracle":false,"isBroken":false,"hasMethods":{"exchange_received":false,"exchange_extended":false},"creationTs":1625016390,"creationBlockNumber":16837058,"blockchainId":"xdai","registryId":"main"},{"id":"factory-v2-0","address":"0xBdF4488Dcf7165788D438b62B4C8A333879B7078","coinsAddresses":["0xA4eF9Da5BA71Cc0D2e5E877a910A37eC43420445","0x9C58BAcC331c9aa871AFD802DB6379a98e80CEdb","0x0000000000000000000000000000000000000000","0x0000000000000000000000000000000000000000"],"decimals":["18","18","0","0"],"virtualPrice":"1001449673672492244","amplificationCoefficient":"50","totalSupply":"16117533082271891164366","name":"Curve.fi
        Factory Plain Pool: sGNO/GNO","assetType":"1","implementationAddress":"0xC9438d8928486bD9621D326002F4672bF684187A","symbol":"sgnoCRV-f","priceOracle":null,"implementation":"plain2balances","assetTypeName":"xdai","coins":[{"address":"0xA4eF9Da5BA71Cc0D2e5E877a910A37eC43420445","usdPrice":222.43879825952425,"decimals":"18","isBasePoolLpToken":false,"symbol":"sGNO","poolBalance":"8348683991150670933438"},{"address":"0x9C58BAcC331c9aa871AFD802DB6379a98e80CEdb","usdPrice":222.83,"decimals":"18","isBasePoolLpToken":false,"symbol":"GNO","poolBalance":"7792402427577670846603"}],"poolUrls":{"swap":["https://curve.fi/#/gnosis/pools/factory-v2-0/swap","https://xdai.curve.fi/factory/0"],"deposit":["https://curve.fi/#/gnosis/pools/factory-v2-0/deposit","https://xdai.curve.fi/factory/0/deposit"],"withdraw":["https://curve.fi/#/gnosis/pools/factory-v2-0/withdraw","https://xdai.curve.fi/factory/0/withdraw"]},"lpTokenAddress":"0xBdF4488Dcf7165788D438b62B4C8A333879B7078","usdTotal":3593452.266977216,"isMetaPool":false,"usdTotalExcludingBasePool":3593452.266977216,"gaugeAddress":"0x2686d5e477d1aaa58bf8ce598fa95d97985c7fb1","gaugeRewards":[],"gaugeCrvApy":[0,0],"usesRateOracle":false,"isBroken":false,"hasMethods":{"exchange_received":false,"exchange_extended":false},"creationTs":1648588775,"creationBlockNumber":21366595,"blockchainId":"xdai","registryId":"factory","factory":true},{"id":"crypto-1","address":"0x056C6C5e684CeC248635eD86033378Cc444459B0","coinsAddresses":["0xcB444e90D8198415266c6a2724b7900fb12FC56E","0x1337BedC9D22ecbe766dF105c9623922A27963EC","0x0000000000000000000000000000000000000000","0x0000000000000000000000000000000000000000","0x0000000000000000000000000000000000000000","0x0000000000000000000000000000000000000000","0x0000000000000000000000000000000000000000","0x0000000000000000000000000000000000000000"],"decimals":["18","18","0","0","0","0","0","0"],"virtualPrice":"1004940650698918925","amplificationCoefficient":"20000000","lpTokenAddress":"0x0CA1C1eC4EBf3CC67a9f545fF90a3795b318cA4a","priceOracle":0.9297791914106183,"name":"Curve
        EURe-3Crv","symbol":"crvEUReUSD","totalSupply":"1119049263318469563632793","implementation":"","zapAddress":"0xe3fff29d4dc930ebb787fecd49ee5963dadf60b6","assetTypeName":"unknown","coins":[{"address":"0xcB444e90D8198415266c6a2724b7900fb12FC56E","usdPrice":1.0856791721517975,"decimals":"18","isBasePoolLpToken":false,"symbol":"EURe","poolBalance":"1159573525266575546722570"},{"address":"0x1337BedC9D22ecbe766dF105c9623922A27963EC","usdPrice":1.0094419028146477,"decimals":"18","isBasePoolLpToken":true,"symbol":"x3CRV","poolBalance":"1085364597772321154284387"}],"poolUrls":{"swap":[],"deposit":[],"withdraw":[]},"usdTotal":2354537.329783504,"isMetaPool":true,"basePoolAddress":"0x7f90122BF0700F9E7e1F688fe926940E8839F353","underlyingCoins":[{"address":"0xcB444e90D8198415266c6a2724b7900fb12FC56E","usdPrice":1.0856791721517975,"decimals":"18","isBasePoolLpToken":false,"symbol":"EURe","poolBalance":"1159573525266575546722570"},{"address":"0xe91D153E0b41518A2Ce8Dd3D7944Fa863463a97d","usdPrice":1.000651652,"decimals":"18","isBasePoolLpToken":false,"symbol":"WXDAI","poolBalance":"360950103229997776385758"},{"address":"0xDDAfbb505ad214D7b80b1f830fcCc89B60fb7A83","usdPrice":1.000674675,"decimals":"6","isBasePoolLpToken":false,"symbol":"US[...]
