interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.curve.fi/v1/getPools/big/xdai
  response:
    body:
      string: '{"success":true,"data":{"poolData":[{"id":"0","address":"0x7f90122BF0700F9E7e1F688fe926940E8839F353","coinsAddresses":["0xe91D153E0b41518A2Ce8Dd3D7944Fa863463a97d","0xDDAfbb505ad214D7b80b1f830fcCc89B60fb7A83","0x4ECaBa5870353805a9F068101A40E0f32ed605C6","0x0000000000000000000000000000000000000000"],"decimals":["18","6","6","0"],"virtualPrice":"1008507399066408752","amplificationCoefficient":"1000","totalSupply":"2217524962249196851868478","name":"Curve.fi
        wxDAI/USDC/USDT","assetType":"0","lpTokenAddress":"0x1337BedC9D22ecbe766dF105c9623922A27963EC","priceOracle":null,"priceOracles":null,"symbol":"x3CRV","implementation":"","assetTypeName":"usd","coins":[{"address":"0xe91D153E0b41518A2Ce8Dd3D7944Fa863463a97d","usdPrice":1.000581582,"decimals":"18","isBasePoolLpToken":false,"symbol":"WXDAI","poolBalance":"798989703694054775044685"},{"address":"0xDDAfbb505ad214D7b80b1f830fcCc89B60fb7A83","usdPrice":1.000792793,"decimals":"6","isBasePoolLpToken":false,"symbol":"USDC","poolBalance":"652781767649"},{"address":"0x4ECaBa5870353805a9F068101A40E0f32ed605C6","usdPrice":1.001,"decimals":"6","isBasePoolLpToken":false,"symbol":"USDT","poolBalance":"784628024345"}],"poolUrls":{"swap":["https://curve.fi/#/gnosis/pools/3pool/swap","https://xdai.curve.fi/3pool"],"deposit":["https://curve.fi/#/gnosis/pools/3pool/deposit","https://xdai.curve.fi/3pool/deposit"],"withdraw":["https://curve.fi/#/gnosis/pools/3pool/withdraw","https://xdai.curve.fi/3pool/withdraw"]},"usdTotal":2238166.3225581734,"isMetaPool":false,"usdTotalExcludingBasePool":2238166.3225581734,"gaugeAddress":"0xb721cc32160ab0da2614cc6ab16ed822aeebc101","gaugeRewards":[{"gaugeAddress":"0xb721cc32160ab0da2614cc6ab16ed822aeebc101","tokenPrice":265.49,"name":"Gnosis
        Token on xDai","symbol":"GNO","decimals":"18","apy":0,"metaData":{"rate":"165766296873687","periodFinish":1668086450},"tokenAddress":"0x9C58BAcC331c9aa871AFD802DB6379a98e80CEdb"}],"gaugeCrvApy":[1.188124594218876,2.97031148554719],"usesRateOracle":false,"isBroken":false,"hasMethods":{"exchange_received":false,"exchange_extended":false},"blockchainId":"xdai","registryId":"main"},{"id":"factory-v2-0","address":"0xBdF4488Dcf7165788D438b62B4C8A333879B7078","coinsAddresses":["0xA4eF9Da5BA71Cc0D2e5E877a910A37eC43420445","0x9C58BAcC331c9aa871AFD802DB6379a98e80CEdb","0x0000000000000000000000000000000000000000","0x0000000000000000000000000000000000000000"],"decimals":["18","18","0","0"],"virtualPrice":"1001367600064820123","amplificationCoefficient":"50","totalSupply":"16436597587697683417991","name":"Curve.fi
        Factory Plain Pool: sGNO/GNO","assetType":"1","implementationAddress":"0xC9438d8928486bD9621D326002F4672bF684187A","symbol":"sgnoCRV-f","priceOracle":null,"implementation":"plain2balances","assetTypeName":"xdai","coins":[{"address":"0xA4eF9Da5BA71Cc0D2e5E877a910A37eC43420445","usdPrice":260.14460619661077,"decimals":"18","isBasePoolLpToken":false,"symbol":"sGNO","poolBalance":"11387014420002794702609"},{"address":"0x9C58BAcC331c9aa871AFD802DB6379a98e80CEdb","usdPrice":265.57,"decimals":"18","isBasePoolLpToken":false,"symbol":"GNO","poolBalance":"5099437078682589383675"}],"poolUrls":{"swap":["https://curve.fi/#/gnosis/pools/factory-v2-0/swap","https://xdai.curve.fi/factory/0"],"deposit":["https://curve.fi/#/gnosis/pools/factory-v2-0/deposit","https://xdai.curve.fi/factory/0/deposit"],"withdraw":["https://curve.fi/#/gnosis/pools/factory-v2-0/withdraw","https://xdai.curve.fi/factory/0/withdraw"]},"lpTokenAddress":"0xBdF4488Dcf7165788D438b62B4C8A333879B7078","usdTotal":4316527.88703249,"isMetaPool":false,"usdTotalExcludingBasePool":4316527.88703249,"gaugeAddress":"0x2686d5e477d1aaa58bf8ce598fa95d97985c7fb1","gaugeRewards":[],"gaugeCrvApy":[0,0],"usesRateOracle":false,"isBroken":false,"hasMethods":{"exchange_received":false,"exchange_extended":false},"blockchainId":"xdai","registryId":"factory","factory":true},{"id":"factory-v2-1","address":"0x5D7309a01B727d6769153fCB1dF5587858d53B9C","coinsAddresses":["0x6aC78efae880282396a335CA2F79863A1e6831D4","0xA4eF9Da5BA71Cc0D2e5E877a910A37eC43420445","0x0000000000000000000000000000000000000000","0x0000000000000000000000000000000000000000"],"decimals":["18","18","0","0"],"virtualPrice":"1003229386966937148","amplificationCoefficient":"50","totalSupply":"1626476630245029223286","name":"Curve.fi
        Factory Plain Pool: rGNO/sGNO","assetType":"1","impleme[...]
