interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.curve.fi/v1/getPools/big/xdai
  response:
    body:
      string: '{"success":true,"data":{"poolData":[{"id":"0","address":"0x7f90122BF0700F9E7e1F688fe926940E8839F353","coinsAddresses":["0xe91D153E0b41518A2Ce8Dd3D7944Fa863463a97d","0xDDAfbb505ad214D7b80b1f830fcCc89B60fb7A83","0x4ECaBa5870353805a9F068101A40E0f32ed605C6","0x0000000000000000000000000000000000000000"],"decimals":["18","6","6","0"],"virtualPrice":"1008680372967431123","amplificationCoefficient":"1000","totalSupply":"1870640797776851106485985","name":"Curve.fi
        wxDAI/USDC/USDT","assetType":"0","lpTokenAddress":"0x1337BedC9D22ecbe766dF105c9623922A27963EC","priceOracle":null,"priceOracles":null,"symbol":"x3CRV","implementation":"","assetTypeName":"usd","coins":[{"address":"0xe91D153E0b41518A2Ce8Dd3D7944Fa863463a97d","usdPrice":0.999020212544,"decimals":"18","isBasePoolLpToken":false,"symbol":"WXDAI","poolBalance":"606637546679912910368900"},{"address":"0xDDAfbb505ad214D7b80b1f830fcCc89B60fb7A83","usdPrice":0.998988233536,"decimals":"6","isBasePoolLpToken":false,"symbol":"USDC","poolBalance":"625570563106"},{"address":"0x4ECaBa5870353805a9F068101A40E0f32ed605C6","usdPrice":0.999344,"decimals":"6","isBasePoolLpToken":false,"symbol":"USDT","poolBalance":"654671474114"}],"poolUrls":{"swap":["https://curve.fi/#/gnosis/pools/3pool/swap","https://xdai.curve.fi/3pool"],"deposit":["https://curve.fi/#/gnosis/pools/3pool/deposit","https://xdai.curve.fi/3pool/deposit"],"withdraw":["https://curve.fi/#/gnosis/pools/3pool/withdraw","https://xdai.curve.fi/3pool/withdraw"]},"usdTotal":1885222.8122377023,"isMetaPool":false,"usdTotalExcludingBasePool":1885222.8122377023,"gaugeAddress":"0xb721cc32160ab0da2614cc6ab16ed822aeebc101","gaugeRewards":[{"gaugeAddress":"0xb721cc32160ab0da2614cc6ab16ed822aeebc101","tokenPrice":208.38,"name":"Gnosis
        Token on xDai","symbol":"GNO","decimals":"18","apy":0,"metaData":{"rate":"165766296873687","periodFinish":1668086450},"tokenAddress":"0x9C58BAcC331c9aa871AFD802DB6379a98e80CEdb"}],"gaugeCrvApy":[0.9645386630708935,2.411346657677234],"usesRateOracle":false,"isBroken":false,"hasMethods":{"exchange_received":false,"exchange_extended":false},"creationTs":1625016390,"creationBlockNumber":16837058,"blockchainId":"xdai","registryId":"main"},{"id":"factory-v2-0","address":"0xBdF4488Dcf7165788D438b62B4C8A333879B7078","coinsAddresses":["0xA4eF9Da5BA71Cc0D2e5E877a910A37eC43420445","0x9C58BAcC331c9aa871AFD802DB6379a98e80CEdb","0x0000000000000000000000000000000000000000","0x0000000000000000000000000000000000000000"],"decimals":["18","18","0","0"],"virtualPrice":"1001451812398475082","amplificationCoefficient":"50","totalSupply":"16116512204265551084886","name":"Curve.fi
        Factory Plain Pool: sGNO/GNO","assetType":"1","implementationAddress":"0xC9438d8928486bD9621D326002F4672bF684187A","symbol":"sgnoCRV-f","priceOracle":null,"implementation":"plain2balances","assetTypeName":"xdai","coins":[{"address":"0xA4eF9Da5BA71Cc0D2e5E877a910A37eC43420445","usdPrice":208.06571558834688,"decimals":"18","isBasePoolLpToken":false,"symbol":"sGNO","poolBalance":"8297441565947141568229"},{"address":"0x9C58BAcC331c9aa871AFD802DB6379a98e80CEdb","usdPrice":208.38,"decimals":"18","isBasePoolLpToken":false,"symbol":"GNO","poolBalance":"7842594555908172431535"}],"poolUrls":{"swap":["https://curve.fi/#/gnosis/pools/factory-v2-0/swap","https://xdai.curve.fi/factory/0"],"deposit":["https://curve.fi/#/gnosis/pools/factory-v2-0/deposit","https://xdai.curve.fi/factory/0/deposit"],"withdraw":["https://curve.fi/#/gnosis/pools/factory-v2-0/withdraw","https://xdai.curve.fi/factory/0/withdraw"]},"lpTokenAddress":"0xBdF4488Dcf7165788D438b62B4C8A333879B7078","usdTotal":3360652.97053143,"isMetaPool":false,"usdTotalExcludingBasePool":3360652.97053143,"gaugeAddress":"0x2686d5e477d1aaa58bf8ce598fa95d97985c7fb1","gaugeRewards":[],"gaugeCrvApy":[0,0],"usesRateOracle":false,"isBroken":false,"hasMethods":{"exchange_received":false,"exchange_extended":false},"creationTs":1648588775,"creationBlockNumber":21366595,"blockchainId":"xdai","registryId":"factory","factory":true},{"id":"crypto-1","address":"0x056C6C5e684CeC248635eD86033378Cc444459B0","coinsAddresses":["0xcB444e90D8198415266c6a2724b7900fb12FC56E","0x1337BedC9D22ecbe766dF105c9623922A27963EC","0x0000000000000000000000000000000000000000","0x0000000000000000000000000000000000000000","0x0000000000000000000000000000000000000000","0x0000000000000000000000000000000000000000","0x0000000000000000000000000000000000000000","0x0000000000000000000000000000000000000000"],"decimals":["18","18","0","0","0","0","0","0"],"virtualPrice":"1004959827342450091","amplificationCoefficient":"20000000","lpTokenAddress":"0x0CA1C1eC4EBf3CC67a9f545fF90a3795b318cA4a","priceOracle":1.1681191701212605,"name":"Curve
        EURe-3Crv","symbol":"crvEUReUSD","totalSupply":"1122203959041809391818598","implementation":"","zapAddress":"0xe3fff29d4dc930ebb787fecd49ee5963dadf60b6","assetTypeName":"unknown","coins":[{"address":"0xcB444e90D8198415266c6a2724b7900fb12FC56E","usdPrice":0.8627503282823187,"decimals":"18","isBasePoolLpToken":false,"symbol":"EURe","poolBalance":"1233787101342267398780817"},{"address":"0x1337BedC9D22ecbe766dF105c9623922A27963EC","usdPrice":1.0077951974949872,"decimals":"18","isBasePoolLpToken":true,"symbol":"x3CRV","poolBalance":"1011963475877068486100477"}],"poolUrls":{"swap":[],"deposit":[],"withdraw":[]},"usdTotal":2084302.1577427755,"isMetaPool":true,"basePoolAddress":"0x7f90122BF0700F9E7e1F688fe926940E8839F353","underlyingCoins":[{"address":"0xcB444e90D8198415266c6a2724b7900fb12FC56E","usdPrice":0.8627503282823187,"decimals":"18","isBasePoolLpToken":false,"symbol":"EURe","poolBalance":"1233787101342267398780817"},{"address":"0xe91D153E0b41518A2Ce8Dd3D7944Fa863463a97d","usdPrice":0.999020212544,"decimals":"18","isBasePoolLpToken":false,"symbol":"WXDAI","poolBalance":"328173661702086761284272"},{"address":"0xDDAfbb505ad214D7b80b1f830fcCc89B60fb7A83","usdPrice":0.998988233536,"decimals":"6","isBasePoolLpToken":false,"symbo[...]
