interactions:
- request:
    body: '{"query": "\n    {\n      pools(where: { totalSupply_gt: \"500000\" },
      first: 300) {\n        id\n        totalSupply\n        depositToken {\n          id\n          decimals\n          symbol\n          name\n        }\n        lpToken
      {\n          id\n          decimals\n          symbol\n          name\n        }\n        gauge
      {\n          id\n        }\n        isFactoryPool\n        rewardPool\n      }\n    }\n    "}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://subgraph.satsuma-prod.com/cae76ab408ca/1xhub-ltd/aura-finance-mainnet/api
  response:
    body:
      string: '{"data":{"pools":[{"id":"0","totalSupply":"526595556814821845635","depositToken":{"id":"0x70751c02db1a5e48ed333c919a7b94e34a4e07e2","decimals":18,"symbol":"aura50WETH-50AURA","name":"50WETH-50AURA
        Aura Deposit"},"lpToken":{"id":"0xcfca23ca9ca720b6e98e3eb9b6aa0ffc4a5c08b9","decimals":18,"symbol":"50WETH-50AURA","name":"50WETH-50AURA"},"gauge":{"id":"0x275df57d2b23d53e20322b4bb71bf1dcb21d0a00"},"isFactoryPool":true,"rewardPool":"0x712cc5bed99aa06fc4d5fb50aea3750fa5161d0f"},{"id":"1","totalSupply":"730516810471734533504","depositToken":{"id":"0x12e9da849f12d47707a94e29f781f1cd20a7f49a","decimals":18,"symbol":"auraB-auraBAL-STABLE","name":"Balancer
        auraBAL Stable Pool Aura Deposit"},"lpToken":{"id":"0x3dd0843a028c86e0b760b1a76929d1c5ef93a2dd","decimals":18,"symbol":"B-auraBAL-STABLE","name":"Balancer
        auraBAL Stable Pool"},"gauge":{"id":"0x0312aa8d0ba4a1969fddb382235870bf55f7f242"},"isFactoryPool":true,"re[...]
