interactions:
- request:
    body: '{"query": "\n    {\n      gaugeFactories {\n        id\n        gauges
      {\n          id\n          symbol\n          poolAddress\n        }\n      }\n    }\n    "}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://gateway-arbitrum.network.thegraph.com/api/MOCK_KEY/subgraphs/id/HW5XpZBi2iYDLBqqEEMiRJFx8ZJAQak9uu5TzyH9BBxy
  response:
    body:
      string: '{"data":{"gaugeFactories":[{"gauges":[{"id":"0x2165b84b2ae1fc01f481fa8c9c762b695c57bb21","poolAddress":"0xf48f01dcb2cbb3ee1f6aab0e742c2d3941039d56","symbol":"50bbagGNO-50bbagWETH-gauge"},{"id":"0x266c15970aeeecc254117b1c366e26718ad02cee","poolAddress":"0xfedb19ec000d38d92af4b21436870f115db22725","symbol":"bb-ag-USD-gauge"},{"id":"0x793faf861a78b07c0c8c0ed1450d3919f3473226","poolAddress":"0xb973ca96a3f0d61045f53255e319aedb6ed49240","symbol":"50bbagGNO-50bbagUSD-gauge"},{"id":"0xa47120617a1f920896e123c2fcad7d41dd89def8","poolAddress":"0x9949f1884b61a8265e12056650c1ac4677a75403","symbol":"2EUR
        (EURe)-gauge"},{"id":"0xc04672a31c5ba04912bad418631[...]
