interactions:
- request:
    body: '{"query": "\n    {\n      pools(first: 1000, where: { totalLiquidity_gt:
      \"100000\" }, orderBy: totalLiquidity, orderDirection: desc) {\n        name\n        address\n        poolType\n        strategyType\n        oracleEnabled\n        symbol\n        swapEnabled\n        isPaused\n        isInRecoveryMode\n        totalLiquidity\n        tokens
      {\n          symbol\n          name\n          address\n        }\n      }\n    }\n    "}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://gateway-arbitrum.network.thegraph.com/api/MOCK_KEY/subgraphs/id/C4ayEZP2yTXRAB8vSaTrgN4m9anTe9Mdm2ViyiAuV9TV
  response:
    body:
      string: '{"data":{"pools":[{"address":"0x3de27efa2f1aa663ae5d458857e731c129069f29","isInRecoveryMode":null,"isPaused":false,"name":"20wstETH-80AAVE","oracleEnabled":false,"poolType":"Weighted","strategyType":2,"swapEnabled":true,"symbol":"20wstETH-80AAVE","tokens":[{"address":"0x7f39c581f595b53c5cb19bd0b3f8da6c935e2ca0","name":"Wrapped
        liquid staked Ether 2.0","symbol":"wstETH"},{"address":"0x7fc66500c84a76ad7e9c93437bfc5ac33e2ddae9","name":"Aave
        Token","symbol":"AAVE"}],"totalLiquidity":"139698620.9313863507540956296014356"},{"address":"0xdacf5fa19b1f720111609043ac67a9818262850c","isInRecoveryMode":null,"isPaused":false,"name":"Balancer
        osETH/wETH StablePool","oracleEnabled":false,"poolType":"ComposableStable","strategyType":0,"swapEnabled":true,"symbol":"osETH/wETH-BPT","tokens":[{"address":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","name":"Wrapped
        Ether","symbol":"WETH"},{"address":"0xdacf5fa19b1f720111609043ac67a9818262850c","name":"Balancer
        osETH/w[...]
