interactions:
- request:
    body: '{"query": "\n    {\n      pools(where: { totalSupply_gt: \"500000\" })
      {\n        id\n        totalSupply\n        depositToken {\n          id\n          decimals\n          symbol\n          name\n        }\n        lpToken
      {\n          id\n          decimals\n          symbol\n          name\n        }\n        gauge
      {\n          id\n        }\n        isFactoryPool\n        rewardPool\n      }\n    }\n    "}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://subgraph.satsuma-prod.com/cae76ab408ca/1xhub-ltd/aura-finance-gnosis/api
  response:
    body:
      string: '{"data":{"pools":[{"id":"0","totalSupply":"2010543922255113067763","depositToken":{"id":"0x094c6846fb2801b4753182adfac336aae8030a46","decimals":18,"symbol":"aurabb-WETH-wstETH","name":"Balancer
        Stable WETH wstETH pool Aura Deposit"},"lpToken":{"id":"0xbad20c15a773bf03ab973302f61fabcea5101f0a","decimals":18,"symbol":"bb-WETH-wstETH","name":"Balancer
        Stable WETH wstETH pool"},"gauge":{"id":"0x27519f69b2ac912aeb6fe066180fb25a17c71755"},"isFactoryPool":true,"rewardPool":"0x026d163c28cc7dbf57d6ed57f14208ee412ca526"},{"id":"10","totalSupply":"5110508616592915477","depositToken":{"id":"0x732ca95902fb169461d519e7231cb874374446d4","decimals":18,"symbol":"aurastaBAL3","name":"Balancer
        Stable USD Aura Deposit"},"lpToken":{"id":"0x2086f52651837600180de173b09470f54ef74910","decimals":18,"symbol":"staBAL3","name":"Balancer
        Stable USD"},"gauge":{"id":"0xad46e3c1c55241261afe5751384eedcf6db6e0a8"},"isFactoryPool":true,"rewardPool":"0x0821ed041620b83b306ffac7[...]
