interactions:
- request:
    body: '{"query": "\n    {\n      pools(where: { totalLiquidity_gt: \"500000\"
      }, orderBy: totalLiquidity) {\n        name\n        address\n        poolType\n        strategyType\n        oracleEnabled\n        symbol\n        swapEnabled\n        isPaused\n        isInRecoveryMode\n        totalLiquidity\n        tokens
      {\n          symbol\n          name\n          address\n        }\n      }\n    }\n    "}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://gateway-arbitrum.network.thegraph.com/api/MOCK_KEY/subgraphs/id/EJezH1Cp31QkKPaBDerhVPRWsKVZLrDfzjrLqpmv6cGg
  response:
    body:
      string: '{"data":{"pools":[{"address":"0x06135a9ae830476d3a941bae9010b63732a055f4","isInRecoveryMode":null,"isPaused":false,"name":"Balancer
        Stable stEUR EURe pool","oracleEnabled":false,"poolType":"ComposableStable","strategyType":0,"swapEnabled":true,"symbol":"stEUR/EURe","tokens":[{"address":"0x004626a008b1acdc4c74ab51644093b155e59a23","name":"Staked
        agEUR","symbol":"stEUR"},{"address":"0x06135a9ae830476d3a941bae9010b63732a055f4","name":"Balancer
        Stable stEUR EURe pool","symbol":"stEUR/EURe"},{"address":"0xcb444e90d8198415266c6a2724b7900fb12fc56e","name":"Monerium
        EUR emoney","symbol":"EURe"}],"totalLiquidity":"584278.8423831646258069302498795137"},{"address":"0x00df7f58e1cf932ebe5f54de5970fb2bdf0ef06d","isInRecoveryMode":null,"isPaused":false,"name":"Balancer
        50wstETH-25BAL-25AURA","oracleEnabled":false,"poolType":"Weighted","strategyType":1,"swapEnabled":true,"symbol":"B-50wstETH-25BAL-25AURA","tokens":[{"address":"0x1509706a6c66ca549ff0cb464de88231ddbe213b","name":"Aura","symbol":"AURA"},{"address":"0x6c76971f98945ae98dd7d4dfca8711ebea946ea6","name":"Wrapped
        liquid staked Ether 2.0 [...]
