interactions:
- request:
    body: '{"query": "\n    {\n      pools(where: { totalLiquidity_gt: \"500000\"
      }, orderBy: totalLiquidity) {\n        name\n        address\n        poolType\n        strategyType\n        oracleEnabled\n        symbol\n        swapEnabled\n        isPaused\n        isInRecoveryMode\n        totalLiquidity\n        tokens
      {\n          symbol\n          name\n          address\n        }\n      }\n    }\n    "}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://gateway-arbitrum.network.thegraph.com/api/MOCK_KEY/subgraphs/id/C4ayEZP2yTXRAB8vSaTrgN4m9anTe9Mdm2ViyiAuV9TV
  response:
    body:
      string: '{"data":{"pools":[{"address":"0xe8cc7e765647625b95f59c15848379d10b9ab4af","isInRecoveryMode":null,"isPaused":false,"name":"20WETH-80WNCG","oracleEnabled":false,"poolType":"Weighted","strategyType":2,"swapEnabled":true,"symbol":"20WETH-80WNCG","tokens":[{"address":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","name":"Wrapped
        Ether","symbol":"WETH"},{"address":"0xf203ca1769ca8e9e8fe1da9d147db68b6c919817","name":"Wrapped
        NCG","symbol":"WNCG"}],"totalLiquidity":"601482.059683167664442549667730915"},{"address":"0xb721a3b209f8b598b926826f69280bee7a6bb796","isInRecoveryMode":null,"isPaused":false,"name":"10RAI-6FLX-3rETH-26WETH-55RPL","oracleEnabled":false,"poolType":"Weighted","strategyType":1,"swapEnabled":true,"symbol":"10RAI-6FLX-3rETH-26WETH-55RPL","tokens":[{"address":"0x03ab458634910aad20ef5f1c8ee96f1d6ac54919","name":"Rai
        Reflex Index","symbol":"RAI"},{"address":"0x6243d8cea23066d098a15582d81a598b4e8391f4","name":"Flex
        Ungovernance[...]
