interactions:
- request:
    body: '{"query": "\n    {\n      pools(where: { totalLiquidity_gt: \"500000\"
      }, orderBy: totalLiquidity) {\n        name\n        address\n        poolType\n        strategyType\n        oracleEnabled\n        symbol\n        swapEnabled\n        isPaused\n        isInRecoveryMode\n        totalLiquidity\n        tokens
      {\n          symbol\n          name\n          address\n        }\n      }\n    }\n    "}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://gateway-arbitrum.network.thegraph.com/api/MOCK_KEY/subgraphs/id/C4ayEZP2yTXRAB8vSaTrgN4m9anTe9Mdm2ViyiAuV9TV
  response:
    body:
      string: '{"data":{"pools":[{"address":"0x40c806394d03d350420d13cd7d1de1c806f34956","isInRecoveryMode":null,"isPaused":false,"name":"Balancer
        qETH/WETH ","oracleEnabled":false,"poolType":"ComposableStable","strategyType":0,"swapEnabled":true,"symbol":"qETH/WETH","tokens":[{"address":"0x40c806394d03d350420d13cd7d1de1c806f34956","name":"Balancer
        qETH/WETH ","symbol":"qETH/WETH"},{"address":"0x93ef1ea305d11a9b2a3ebb9bb4fcc34695292e7d","name":"TranchessV2
        WETH QUEEN","symbol":"qETH"},{"address":"0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2","name":"Wrapped
        Ether","symbol":"WETH"}],"totalLiquidity":"559029.0777853716378519790061482856"},{"address":"0xb91159aa527d4769cb9faf3e4adb760c7e8c8ea7","isInRecoveryMode":null,"isPaused":false,"name":"Balancer
        ETHx/wstETH","oracleEnabled":false,"poolType":"ComposableStable","strategyType":0,"swapEnabled":true,"symbol":"ETHx/wstETH","tokens":[{"address":"0x7f39c581f595b53c5cb19bd0b3f8da6c935e2ca0","name":"Wrapped
        liquid staked Ether 2.0","symbol":"wstETH"},{"address":"0xa35b1b31ce002fbf2058d22f30f95d405200a15b","name":"ETHx","symbol":"E[...]
