interactions:
- request:
    body: '{"query": "\n    {\n      pools(first: 1000, where: { totalLiquidity_gt:
      \"100000\" }, orderBy: totalLiquidity, orderDirection: desc) {\n        name\n        address\n        poolType\n        strategyType\n        oracleEnabled\n        symbol\n        swapEnabled\n        isPaused\n        isInRecoveryMode\n        totalLiquidity\n        tokens
      {\n          symbol\n          name\n          address\n        }\n      }\n    }\n    "}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://gateway-arbitrum.network.thegraph.com/api/MOCK_KEY/subgraphs/id/EJezH1Cp31QkKPaBDerhVPRWsKVZLrDfzjrLqpmv6cGg
  response:
    body:
      string: '{"data":{"pools":[{"address":"0x4683e340a8049261057d5ab1b29c8d840e75695e","isInRecoveryMode":null,"isPaused":false,"name":"Balancer
        50wstETH-50GNO","oracleEnabled":false,"poolType":"Weighted","strategyType":2,"swapEnabled":true,"symbol":"B-50wstETH-50GNO","tokens":[{"address":"0x6c76971f98945ae98dd7d4dfca8711ebea946ea6","name":"Wrapped
        liquid staked Ether 2.0 from Mainnet","symbol":"wstETH"},{"address":"0x9c58bacc331c9aa871afd802db6379a98e80cedb","name":"Gnosis
        Token on xDai","symbol":"GNO"}],"totalLiquidity":"27301014.64308149792974268593322606"},{"address":"0xbad20c15a773bf03ab973302f61fabcea5101f0a","isInRecoveryMode":false,"isPaused":false,"name":"Balancer
        Stable WETH wstETH pool","oracleEnabled":false,"poolType":"ComposableStable","strategyType":0,"swapEnabled":true,"symbol":"bb-WETH-wstETH","tokens":[{"address":"0x6a023ccd1ff6f2045c3309768ead9e68f978f6e1","name":"Wrapped
        Ether on xDai","symbol":"WETH"},{"address":"0x6c76971f98945ae98dd7d4dfca8711ebea946ea6","name":"Wrapped
     [...]
