interactions:
- request:
    body: '{"query": "\n    {\n      pools(where: { totalLiquidity_gt: \"500000\"
      }, orderBy: totalLiquidity) {\n        name\n        address\n        poolType\n        strategyType\n        oracleEnabled\n        symbol\n        swapEnabled\n        isPaused\n        isInRecoveryMode\n        totalLiquidity\n        tokens
      {\n          symbol\n          name\n          address\n        }\n      }\n    }\n    "}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://gateway-arbitrum.network.thegraph.com/api/MOCK_KEY/subgraphs/id/EJezH1Cp31QkKPaBDerhVPRWsKVZLrDfzjrLqpmv6cGg
  response:
    body:
      string: '{"data":{"pools":[{"address":"0x00df7f58e1cf932ebe5f54de5970fb2bdf0ef06d","isInRecoveryMode":null,"isPaused":false,"name":"Balancer
        50wstETH-25BAL-25AURA","oracleEnabled":false,"poolType":"Weighted","strategyType":1,"swapEnabled":true,"symbol":"B-50wstETH-25BAL-25AURA","tokens":[{"address":"0x1509706a6c66ca549ff0cb464de88231ddbe213b","name":"Aura","symbol":"AURA"},{"address":"0x6c76971f98945ae98dd7d4dfca8711ebea946ea6","name":"Wrapped
        liquid staked Ether 2.0 from Mainnet","symbol":"wstETH"},{"address":"0x7ef541e2a22058048904fe5744f9c7e4c57af717","name":"Balancer
        on xDai","symbol":"BAL"}],"totalLiquidity":"1022128.131227252758170179492279022"},{"address":"0xa9b2234773cc6a4f3a34a770c52c931cba5c24b2","isInRecoveryMode":null,"isPaused":false,"name":"B-50SAFE-50GNO","oracleEnabled":false,"poolType":"Weighted","strategyType":2,"swapEnabled":true,"symbol":"50SAFE-50GNO","tokens":[{"address":"0x4d18815d14fe5c3304e87b3fa18318baa5c23820","name":"Safe
        Token from Mainnet","symbol":"SAFE"},{"address":"0x9c58bacc331c9aa871afd802db6379a98e80cedb","name":"Gnosis
        Token on xDai","symbol":"GNO"}],"[...]
